<ul id="Navigation1">
 <li><a href="main.php">&Uuml;bersicht</a></li>
 <li><a href="profile.php">Deine Daten</a></li>
 <ul id="Navigation2">
  <li><a href="view_matches.php?show=0">Ausstehende Tipps</a></li>
  <li><a href="view_matches.php?show=2">Abgelaufene Tipps</a></li>
 </ul>
 <li><a href="highscore.php">Highscore</a></li>
 <ul id="Navigation2">
  <li><a href="highscore.php?uattr1=1">Wettbewerb</a></li>
 </ul>
 <li>Statistiken</li>
 <ul id="Navigation2">
  <li><a href="champion_tipps.php">Meistertipps</a></li>
  <li><a href="history.php">Historie</a></li>
 </ul>
 <li><a href="newsboard.php">Newsboard</a></li>
 <li><a href="rules.php">Spielregeln</a></li>
 <li style="background-image: url(../layout/bg_logout.gif);"><a href="logout.php">Logout</a></li>
</ul>
