
/******************************************/
/* General properties for the whole body  */
/******************************************/

body {
    background-image:url(background.png);
    background-position:top center;
    background-color:#111070;
    background-repeat: no-repeat;
    font-family: Helvetica,Arial,sans-serif;	
    margin: 0; padding: 1em 0;    text-align: center;  /* Zentrierung im Internet Explorer */}

/*******************************************/
/*  Properties for the title / logo        */
/*******************************************/

div#Titel {
    width: 868px;
    height: 145px;
    display: block;
    margin: 6 auto;
    background-color: none;
    border: none;
  }

/************************************************/
/* Properties for the page (navi + content)     */
/************************************************/
div#Seite {    text-align: left;    margin: 10 auto;
    width: 880px;    padding: 0px;
    background: white;
  }
/***********************************************/
/* Properties for the general navigation block */
/***********************************************/

div#Navigation{
  float: left;
  border: 5px solid white;
}  

/***********************************************/
/*           Properties for Forms              */
/***********************************************/

table#Form {
  font-size:0.9em;
}

/***********************************************/
/*    Properties for the navigation level 1    */
/***********************************************/

ul#Navigation1 {
    font-size: 0.83em;
    width: 123px;
    margin: 0;
    padding: 0;
 }

  ul#Navigation1 li {
    background-image: url(bg_navi1.gif);
    color: #ffe20a;
    list-style: none;
    margin: 0;
    padding: 0.5em;
  }
  ul#Navigation1 a {
    display: block;
    text-decoration:none;
    /*padding: 0.2em;*/
  }
  ul#Navigation1 a:link {
    color: #ffe20a;
  }
  ul#Navigation1 a:visited {
    color: #ffe20a;
  }
  ul#Navigation1 a:hover {
    text-decoration:underline;
  }

/**********************************************/
/*    Properties for the navigation level 1   */
/**********************************************/

  ul#Navigation2 {
    font-size: .75em;
    width: 123px;
    margin: 0;
    padding: 0;
  }

  ul#Navigation2 li {
    background-image: url(bg_navi2.gif);
    list-style: none;
    margin: 0;
    padding: 0.5em 1em;
  }
  ul#Navigation2 a {
    display: block;
    text-decoration:none;
/*    width: 100px; */
    /*padding: 0.2em;*/
  }
  ul#Navigation2 a:link {
    color: white;
  }
  ul#Navigation2 a:visited {
    color: white;
  }
  ul#Navigation2 a:hover {    
    /*background-color: red;*/
  }

/**********************************************/
/*     Eigenschaften fuer den Seiteinhalt      */
/**********************************************/
  div#Inhalt {
    font-size: 0.95em;//    border: 1px solid silver;    margin: 0 0 1em 130px;
    minimum-height:500px;
    padding: 5 .2em 2em;
    background-color: white;
    border: none;
  }

  div#Inhalt h1 {
    font-weight:normal;    font-size: 0.85em;    margin: 0 0 1em;
    padding: .6em .5em .5em .5em;
    background-image: url(bg_navi1.gif);    color: #ffe20a;  }  div#Inhalt h2 {    font-weight:normal;    font-size: 0.85em;    margin: 2em 0 1em;
    padding: .5em .5em .4em .5em;
    background-image: url(bg_navi1.gif);    color: #ffe20a;  }  div#Inhalt p {    font-size: .9em;
    padding: 0 .2em;    margin: .5em 0;
  }

  div#Inhalt ul {
    list-style.position:outside;
    font-size: 0.9em;
    margin: 0 1em 0 0em;
    padding-left: 1.5em;
  }
  div#Inhalt ul li {
    margin: 0.5em 0 0.5em 0;
    padding: 0 0em;
  }
  div#Inhalt ul li ul {
    font-size: 0.95em;
    margin: 0 1.5em; padding: 0;
  }
  div#Inhalt ul li ul li {
    margin: 0.25em 0; padding: 0;
  }

  div#Inhalt ul li ol {
    font-size: 0.95em;
    margin: 0 1.5em; padding: 0;
  }
  div#Inhalt ul li ol li {
    margin: 0.25em 0; padding: 0;
  }


/**********************************************/
/*  Eigenschaften für die Highscore-Tabelle   */
/**********************************************/

  table#Highscore {
    border-color: grey;
    border-style: ridge;
    margin-left: auto;
    margin-right: auto;
    border: none; /*1px ridge silver;*/  }
  table#Highscore th{
    padding: 3px 3px 1px 3px;
    background-image: url(bg_navi2.gif);   // background-color: #c20808;
    color: white;
    font-size: 0.8em;
    font-weight: normal;
  }
  table#Highscore td{
    padding: 2px 5px 1px 5px;
    font-size: 0.8em;
    text-align: right; 
    background-color: #E8E8E8;
  }
  table#Highscore td pre{
    font-family:Fixedsys,Courier,monospace;
    text-align:left;
  }

/**********************************************/
/*  Eigenschaften für die Forms-Tabelle   */
/**********************************************/

  table#Form {
    text-align: left;
  }


/**********************************************/
/* Eigenschaften für die Tabelle der Legende  */
/**********************************************/

  table#Legende{
    margin-left: auto;
    margin-right: auto;
    border none;
    text-align: center;
    font-size: 0.85em;
  }

/**********************************************/
/* Eigens. für die User-Links in der Tabelle  */
/**********************************************/

  /*-------------- User -------------- */
  a#User{
    color: #DD0D0D;
    text-decoration:none;
    font-weight:normal;
  }
  a:hover#User {
    text-decoration: underline;
  }

  /*------------- Party -------------- */
  a#Party {
    color: #1110dd;
    font-weight:normal;
    text-decoration:none;
  }
  a:hover#Party {
    text-decoration: underline;
  }

  /*-------------- Gast -------------- */
  a#Gast {
    color: black;
    font-weight:normal;
    text-decoration:none;
  }
  a:hover#Gast {
    text-decoration: underline;
  }


/**********************************************/
/*             Todo/Ideen-Style               */
/**********************************************/

  li#Idee {
    font-weight: bold;
    padding: 3em 5em 0.5em 0em;

  }
  
  li#Freddie {
    color: red;
  }

  li#Franz {
    color: green;
  }

  li#Roland {
    color: blue;
  }   


++++++++++++++++++++
   CSS Teil I
++++++++++++++++++++

/*
	Menue-styles fuer non-IEs
	Achtung:
	Fuer non-IEs gilt das Stylesheet 'dropdown.css'!
	Fuer IE gilt das Stylesheet 'fix-ie.css' (per CC)!
*/

#menuebox {
position: relative;
height: 30px;
}
.stupidie {
display: none;
}
#menue {
position:absolute;
top: 5px;
left: 0;
z-index: 200;
}

#menue .aussen {
float: left;
display: block;
overflow: hidden;
width: 8em;
height: 1.3em;
//font-weight: bold;
text-align: center;
background-color: #dec79a;
color: #513913;
border: 1px solid;
border-color: #d0843e #78561d #78561d #d0843e;
}
#menue .aussen:hover {
height: auto;
background-color: #624617;
color: #fff;
}

a.innen-1 {
margin-top: 2px;
}
a.innen,
a.innen-1 {
display: block;
width: 7.9em;
padding: 2px 0;
text-decoration: none;
font-weight: normal;
border-bottom: 1px solid #78561d;
background-color: #ecd8ae;
color: #600;
}
a:visited.innen,
a:visited.innen-1 {
background-color: #ecd8ae;
color:#555;
}
a:hover.innen,
a:hover.innen-1 {
background-color: #f7eedb;
color: #900;
}

span.menutag {
display: block;
cursor: default;
}


</style>
